fastapi
uvicorn[standard]
httpx
asyncpg
yt-dlp
jinja2>=3.1.2
psycopg2-binary
alembic
apscheduler
pydantic
starlette
camoufox
aiogram==3.4.1
aiohttp
aiohttp-socks
python-dotenv
redis==5.2.1
langdetect
SQLAlchemy
parsel
certifi
beautifulsoup4
requests
pyrogram
tgcrypto
pymediainfo
babel>=2.12.0
polib
psutil
uvloop
m3u8
psutil
tzdata 